body {
    min-width:400px;
    max-width:30%;
    margin: 0 auto;
}

.title {
    text-align: center;
}

#registerForm {
    padding: 2rem 0;
    background-color: antiquewhite;
    border-radius: 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.row {
    display: flex;
    width: 70%;
    justify-content: space-between;
    padding: 0.5rem;
}

#regBtn {
    margin-top: 1rem;
    padding: 0.3rem;
    font-size: 1rem;
}

th, td {
    padding: 1rem;
    border: 1px solid black;
}

